<html>
<head>
</head>
<body>
<table>
	<th>airline_name</th>
	<th>flight_num	</th>
	<th>departure_airport</th>
	<th>departure_time </th>
	<th>arrival_airport</th>
	<th>arrival_time</th>
	<th>status	</th>
	<th>	price</th>
	<th>airplane_id</th>


{% for line in flight %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_num']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['departure_time']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['arrival_time']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['price']}}</td>
		<td>{{line['airplane_id']}}</td>
	</tr>
{% endfor %}

</table>
</body>
<a href="/bookingagent">go back to booking agent homepage</a>

</html>
