<html>
<head>
<meta charset="UTF-8" />
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<p>the total money you spent is {{customer['total']}}</p>
<p>the total money you spent is {{customer['total2']}}</p>
<p>the total money you spent is {{customer2}}</p>
<p>the total money you spent is {{customer3}}</p>
<script language="JavaScript">
document.write("<p>{{customer['total']}}</p>");
document.write("<p>{{customer['total2']}}</p>");
document.write("<p>{{customer2}}</p>");
document.write("<p>{{customer3}}</p>");
</script>
</body>
</html>